<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Редактировать товар</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/validationProduct.js}"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body class="d-flex flex-column min-vh-100">
<th:block th:include="/blocks/header.html"/>

<div style="text-align: center;">
    <h2>Редактирование товара</h2>
</div>
<div class="container">
    <form>
        <fieldset>
            <legend>Аптеки</legend>
            <div class="input-group mb-3">
                <th:block th:if="${pharmacyDtoList == null}">
                    <th:block th:each="pharmacy : ${product.pharmacies}">
                        <label>
                            <input type="text" class="form-control"
                                   th:value="${pharmacy.namePharmacy}"
                                   disabled="disabled"
                                   aria-describedby="button-addon1">
                        </label>
                    </th:block>
                </th:block>
                <th:block th:if="${pharmacyDtoList != null}">
                    <th:block th:each="pharmacy : ${pharmacyDtoList}">
                        <label>
                            <input type="text" class="form-control"
                                   th:value="${pharmacy.namePharmacy}"
                                   disabled="disabled"
                                   aria-describedby="button-addon1">
                        </label>
                    </th:block>
                </th:block>
                <button class="btn btn-outline-info" type="submit" id="button-addon1"
                        th:formaction="|@{/products/edit_product/select_pharmacies}|">Выбрать
                </button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Производитель</legend>
            <div class="input-group mb-3">
                <th:block th:if="${producerProduct == null}">
                    <label>
                        <input type="text" class="form-control" th:value="${product.producer.name_producer}"
                               disabled="disabled"
                               aria-describedby="button-addon3">
                    </label>
                </th:block>
                <th:block th:if="${producerProduct != null}">
                    <label>
                        <input type="text" class="form-control" th:value="${producerProduct.name_producer}"
                               disabled="disabled"
                               aria-describedby="button-addon3">
                    </label>
                </th:block>
                <button class="btn btn-outline-info" type="submit" id="button-addon3"
                        th:formaction="|@{/products/edit_product/select_pharmacies}|">Выбрать
                </button>
            </div>
        </fieldset>
    </form>
    <form name="productForm" th:method="post" th:action="@{/product/update_product/{id}(id=${product.id})}" onsubmit="return validateForm()">
        <input type="hidden" name="id" th:value="${product.id}">
        <th:block th:if="${pharmacyDtoList == null}">
            <div th:each="pharmacy : ${product.pharmacies}">
                <input type="hidden" name="pharmaciesIds" th:value="${pharmacy.id}">
            </div>
        </th:block>
        <th:block th:if="${pharmacyDtoList != null}">
            <div th:each="pharmacy : ${pharmacyDtoList}">
                <input type="hidden" name="pharmaciesIds" th:value="${pharmacy.id}">
            </div>
        </th:block>

        <th:block th:if="${producerProduct == null}">
            <input type="hidden" name="producerId" th:value="${product.producer.name_producer}">
        </th:block>
        <th:block th:if="${producerProduct != null}">
            <input type="hidden" name="producerId" th:value="${producerProduct.id}">
        </th:block>

        <fieldset>
            <legend></legend>
            <legend></legend>
            <div class="mb-3">
                <label for="drugNameInput" class="form-label">Название</label>
                <input type="text" id="drugNameInput" name="drugName" class="form-control" placeholder="Название">
            </div>
            <div class="mb-3">
                <label for="prescription" class="form-label">Порядок отпуска</label>
                <select id="prescription" class="form-select" th:field="*{prescription}">
                    <option th:each="pr : ${prescription}"
                            th:text="${pr.value}"
                            th:value="${pr}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="instructionInput" class="form-label">Инструкция</label>
                <input type="text" id="instructionInput" name="instruction" class="form-control" placeholder="Инструкция">
            </div>
            <div class="mb-3">
                <label for="priceInput" class="form-label">Цена</label>
                <input type="text" id="priceInput" name="price" class="form-control" placeholder="Цена">
            </div>
            <div class="mb-3">
                <label for="countInput" class="form-label">Количество</label>
                <input type="text" id="countInput" name="count" class="form-control" placeholder="Количество">
            </div>

        </fieldset>
        <input type="hidden" name="pageNumber" th:value="${page}">
        <input type="hidden" name="pageSize" th:value="${size}">
        <input type="hidden" name="sortField" th:value="${field}">
        <input type="hidden" name="sortDir" th:value="${dir}">
        <button type="submit" class="btn btn-outline-info">Сохранить</button>
    </form>
    <p>
    <div style="text-align: center;">
        <form th:action="@{/products/page/{page}(page=${page})}">
            <input type="hidden" name="pageSize" th:value="${size}">
            <input type="hidden" name="sortField" th:value="${field}">
            <input type="hidden" name="sortDir" th:value="${dir}">
            <button type="submit" class="btn btn-secondary">Назад</button>
        </form>
    </div>
    <p>
</div>
<div class="wrapper flex-grow-1">
</div>
<p>


<th:block th:include="/blocks/footer.html"/>
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
</body>

</html>