<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Редактировать товар</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/validationProduct.js}"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body class="d-flex flex-column min-vh-100">
<th:block th:include="/blocks/header.html"/>

<div class="w-90 p-3" style="text-align: center;">
    <form th:action="@{/products/edit_product/select_pharmacies/save}">
        <div th:switch="${pharmacies}">
            <h2 th:case="null">Аптеки не найдены</h2>
            <div th:case="*">
                <h2>Аптеки</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/products/edit_product/select_pharmacies/page/' + ${currentPage} + '?pageSize=' +
                            ${pageSize} + '&sortField=id&sortDir=' + ${reverseSortDir}}">№</a>
                        </th>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/products/edit_product/select_pharmacies/page/' + ${currentPage} + '?pageSize=' +
                            ${pageSize} + '&sortField=namePharmacy&sortDir=' + ${reverseSortDir}}">Название</a>
                        </th>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/products/edit_product/select_pharmacies/page/' + ${currentPage} + '?pageSize=' +
                            ${pageSize} + '&sortField=pharmacyChain&sortDir=' + ${reverseSortDir}}">Сеть</a>
                        </th>
                        <th scope="col" class="align-middle">Выбор</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pharmacy : ${pharmacies}">
                        <td th:text="${pharmacy.id}"></td>
                        <td th:text="${pharmacy.namePharmacy}"></td>
                        <td th:text="${pharmacy.pharmacyChain}"></td>
                        <td>
                            <div class="form-check d-flex justify-content-center">
                                <input class="form-check-input" type="checkbox" name="genresIds"
                                       th:value="${pharmacy.id}"
                                       id="flexCheckDefault" onchange="document.getElementById('form_button').disabled = !this.checked;">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success" id="form_button" disabled="disabled">ОК</button>
    </form>
</div>
<p>
<div style="text-align: center;">
    <form th:action="@{/products/page/{id}/{page}/{pageSize}/{sortField}/{sortDir}(id=${book.id}, page=${page}, pageSize=${size},
     sortField=${field},sortDir=${dir})}">
        <button type="submit" class="btn btn-info">Назад</button>
    </form>
</div>
<p>
<nav aria-label="paginationCategory">
    <div style="text-align: center;">
        <form th:action="@{'/products/edit_product/select_pharmacies/page/'+ ${currentPage} + '?pageSize=' + ${pageSize} +
        '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
            <div th:if="${pageSize == 5}">
                <label>Наименований на странице:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize"
                            th:value="${pageSize}">
                        <option selected value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-info">Сохранить</button>
                </label>
            </div>
            <div th:if="${pageSize == 10}">
                <label>Наименований на странице:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize"
                            th:value="${pageSize}">
                        <option value="5">5</option>
                        <option selected value="10">10</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </label>
            </div>
        </form>
    </div>
    <p>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/products/edit_product/select_pharmacies/page/'+ ${1} + '?pageSize=' + ${pageSize} +
               '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Первая
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">Первая</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/products/edit_product/select_pharmacies/page/' + ${currentPage - 1} + '?pageSize=' + ${pageSize} +
               '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">&laquo;</span>
        </li>
        <li class="d-flex flex-row page-item active" aria-current="page">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="page-link" th:if="${i != currentPage}"
           th:href="@{'/products/edit_product/select_pharmacies/page/' + ${i} + '?pageSize=' + ${pageSize} + '&sortField=' +
           ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]
        </a>
        <span class="page-link active" th:unless="${i != currentPage}">[[${i}]]</span>
        </span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/products/edit_product/select_pharmacies/page/' + ${currentPage + 1} + '?pageSize=' + ${pageSize} +
               '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">&raquo;</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/products/edit_product/select_pharmacies/page/' + ${totalPages} + '?pageSize=' +
               ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Последняя
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">Последняя</span>
        </li>
    </ul>
    <div style="text-align: center;">
        Всего строк [[${totalItems}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    </div>
</nav>
<div class="wrapper flex-grow-1">
</div>
<p>


<th:block th:include="/blocks/footer.html"/>
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
</body>

</html>