<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PharmacyChain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

</head>

<body>
<th:block th:include="/blocks/header.html"/>
<div class="w-90 p-3">
    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
            aria-expanded="false" aria-controls="collapseFilters">
        Поиск по параметрам
    </button>
</div>
<div class="collapsing" id="collapseFilters">
    <div class="card card-body">
        <form class="row g-3" th:action="@{'/pharmacy/page/' + ${currentPage}}">
            <div class="col-md-4 mb-3" style="align-content: center">
                <label for="nameFilter" class="form-label">Название</label>
                <input type="text" id="nameFilter" name="nameFilter" class="form-control"
                       th:placeholder="${nameFilter}">
            </div>

            <div class="col-12">
                <input type="hidden" name="size" th:value="${size}">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <button type="submit" class="btn btn-info">Сохранить</button>
                <button type="submit" class="btn btn-secondary">Очистить</button>
            </div>
        </form>
    </div>
</div>
<div class="w-90 p-3">
    <form th:action="@{/pharmacy/pharmacy-create}">
        <button type="submit" class="btn btn-outline-info">Добавить аптеку</button>
    </form>
</div>
<div class="w-90 p-3" style="text-align: center;">
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="text fw-light fs-6 lh-1">
    </div>
    <div th:switch="${pharmacyDtoList}">
        <h2 th:case="null">Добавьте аптеку</h2>
        <div th:case="*">
            <h2>Аптеки</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=id&sortDir=' + ${reverseSortDir}}">№</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=id&sortDir=' + ${reverseSortDir}}">№</a>
                        </th:block>
                    </th>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=namePharmacy&sortDir=' + ${reverseSortDir}}">Название</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=namePharmacy&sortDir=' + ${reverseSortDir}}">Название</a>
                        </th:block>
                    </th>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=city.nameCity&sortDir=' + ${reverseSortDir}}">Город</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=city.nameCity&sortDir=' + ${reverseSortDir}}">Город</a>
                        </th:block>
                    </th>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=address&sortDir=' + ${reverseSortDir}}">Адрес</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=address&sortDir=' + ${reverseSortDir}}">Адрес</a>
                        </th:block>
                    </th>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=phoneNumber&sortDir=' + ${reverseSortDir}}">Телефон</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=phoneNumber&sortDir=' + ${reverseSortDir}}">Телефон</a>
                        </th:block>
                    </th>
                    <th scope="col" class="align-middle">
                        <th:block
                                th:if="${nameFilter != null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter} +
                            '&size=' + ${size} + '&sortField=workingHours&sortDir=' + ${reverseSortDir}}">Время работы</a>
                        </th:block>
                        <th:block
                                th:if="${nameFilter == null}">
                            <a th:href="@{'/pharmacy/page/' + ${currentPage} + '?size=' + ${size} +
                            '&sortField=workingHours&sortDir=' + ${reverseSortDir}}">Время работы</a>
                        </th:block>
                    </th>

                    <th colspan="3" class="align-middle">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pharmacy : ${pharmacyDtoList}">
                    <td th:text="${pharmacy.id}"></td>
                    <td th:text="${pharmacy.namePharmacy}"></td>
                    <td th:text="${pharmacy.city.nameCity}"></td>
                    <td th:text="${pharmacy.address}"></td>
                    <td th:text="${pharmacy.phoneNumber}"></td>
                    <td th:text="${pharmacy.workingHours}"></td>
                    <td>
                        <form th:method="get"
                              th:action="@{/pharmacy/products-in-pharmacy/{id}(id=${pharmacy.id})}">
                            <button type="submit" class="btn btn-outline-info">Ассортимент аптеки</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="get"
                              th:action="@{/pharmacy/pharmacy-edit/{id}(id=${pharmacy.id})}">
                            <button type="submit" class="btn btn-outline-info">Редактировать</button>
                        </form>
                    <td>
                    <form th:method="post"
                          th:action="@{/pharmacy/delete/{id}(id=${pharmacy.id})}">
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#deleteChainModal"
                                th:attr="data-bs-target='#deleteChainModal' + ${pharmacy.id}">Удалить
                        </button>
                        <div class="modal modal-delete" th:id="deleteChainModal + ${pharmacy.id}" tabindex="-1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteChainModal">Удаление аптеки</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Вы подтверждаете удаление?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                                            Отменить
                                        </button>
                                        <button type="submit" class="btn btn-info">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="paginatedChain">
    <div style="text-align: center;">
        <th:block
                th:if="${nameFilter != null}">
            <form
                    th:action="@{'/pharmacy/page/' + ${currentPage} + '?nameFilter=' + ${nameFilter}
                     + '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir}}">
                <div th:if="${size == 5}">
                    <label>Наименований на странице:
                        <select class="form-select" aria-label="Default select example" size="1" name="size"
                                th:value="${size}">
                            <option selected value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <button type="submit" class="btn btn-outline-info">Сохранить</button>
                    </label>
                </div>
                <div th:if="${size == 10}">
                    <label>Наименований на странице:
                        <select class="form-select" aria-label="Default select example" size="1" name="size"
                                th:value="${size}">
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                        </select>
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <input type="hidden" name="nameFilter" th:value="${nameFilter}">
                        <button type="submit" class="btn btn-outline-info">Сохранить</button>
                    </label>
                </div>
            </form>
        </th:block>
        <th:block
                th:if="${nameFilter == null}">
            <form th:action="@{'/pharmacy/page/'+ ${currentPage} + '?size=' + ${size} + '&sortField=' +
                                ${sortField} + '&sortDir=' + ${sortDir}}">
                <div th:if="${size == 5}">
                    <label>Наименований на странице:
                        <select class="form-select" aria-label="Default select example" size="1" name="size"
                                th:value="${size}">
                            <option selected value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <button type="submit" class="btn btn-outline-info">Сохранить</button>
                    </label>
                </div>
                <div th:if="${size == 10}">
                    <label>Наименований на странице:
                        <select class="form-select" aria-label="Default select example" size="1" name="size"
                                th:value="${size}">
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                        </select>
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <button type="submit" class="btn btn-outline-info">Сохранить</button>
                    </label>
                </div>
            </form>
        </th:block>
    </div>
    <p>
    <ul class="pagination justify-content-center">
        <li class="page-item btn-outline-info">
            <th:block
                    th:if="${nameFilter != null}">
                <a class="page-link btn-outline-info" th:if="${currentPage > 1}"
                   th:href="@{'/pharmacy/page/' + ${1} + '?nameFilter=' + ${nameFilter} +
                   '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Первая
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage > 1}">Первая</span>
            </th:block>
            <th:block
                    th:if="${nameFilter == null}">
                <a class="page-link btn-outline-info" th:if="${currentPage > 1}"
                   th:href="@{'/pharmacy/page/'+ ${1} + '?size=' + ${size} + '&sortField=' +
                   ${sortField} + '&sortDir=' + ${sortDir}}">Первая
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage > 1}">Первая</span>
            </th:block>
        </li>
        <li class="page-item btn-outline-info">
            <th:block
                    th:if="${nameFilter != null}">
                <a class="page-link btn-outline-info" th:if="${currentPage > 1}"
                   th:href="@{'/pharmacy/page/' + ${currentPage - 1} + '?nameFilter=' + ${nameFilter} +
                   '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage > 1}">&laquo;</span>
            </th:block>
            <th:block
                    th:if="${nameFilter == null}">
                <a class="page-link btn-outline-info" th:if="${currentPage > 1}"
                   th:href="@{'/pharmacy/page/' + ${currentPage - 1} + '?size=' + ${size} +
                   '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage > 1}">&laquo;</span>
            </th:block>
        </li>
        <li class="d-flex flex-row page-item active btn-outline-info" aria-current="page">
            <th:block
                    th:if="${nameFilter != null}">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="btn btn-info" th:if="${i != currentPage}"
           th:href="@{'/pharmacy/page/' + ${i} + '?nameFilter=' + ${nameFilter} +
           '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]
        </a>
        <span class="btn btn-info" th:unless="${i != currentPage}">[[${i}]]</span>
        </span>
            </th:block>
            <th:block
                    th:if="${nameFilter == null}">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="btn btn-info" th:if="${i != currentPage}"
           th:href="@{'/pharmacy/page/' + ${i} + '?size=' + ${size} + '&sortField=' + ${sortField} +
           '&sortDir=' + ${sortDir}}">[[${i}]]
        </a>
        <span class="btn btn-info" th:unless="${i != currentPage}">[[${i}]]</span>
        </span>
            </th:block>
        </li>
        <li class="page-item btn-outline-info">
            <th:block
                    th:if="${nameFilter != null}">
                <a class="page-link btn-outline-info" th:if="${currentPage < totalPages}"
                   th:href="@{'/pharmacy/page/' + ${currentPage + 1} + '?nameFilter=' + ${nameFilter} +
                   '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage < totalPages}">&raquo;</span>
            </th:block>
            <th:block
                    th:if="${nameFilter == null}">
                <a class="page-link btn-outline-info" th:if="${currentPage < totalPages}"
                   th:href="@{'/pharmacy/page/' + ${currentPage + 1} + '?size=' + ${size} +
                   '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage < totalPages}">&raquo;</span>
            </th:block>
        </li>
        <li class="page-item">
            <th:block
                    th:if="${nameFilter != null}">
                <a class="page-link btn-outline-info" th:if="${currentPage < totalPages}"
                   th:href="@{'/pharmacy/page/' + ${totalPages} + '?nameFilter=' + ${nameFilter} +
                   '&size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Последняя
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage < totalPages}">Последняя</span>
            </th:block>
            <th:block
                    th:if="${nameFilter == null}">
                <a class="page-link btn-outline-info" th:if="${currentPage < totalPages}"
                   th:href="@{'/pharmacy/page/' + ${totalPages} + '?size=' + ${size} +
                   '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Последняя
                </a>
                <span class="btn btn-outline-info" th:unless="${currentPage < totalPages}">Последняя</span>
            </th:block>
        </li>
    </ul>
    <div style="text-align: center;">
        Всего наименований [[${totalItems}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    </div>
</nav>

<th:block th:include="/blocks/footer.html"/>
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
<!-- End Script -->
</body>

</html>