<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href=""></a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:123-45-67">123-45-67</a>
            </div>
<!--            <div>-->
<!--                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i-->
<!--                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>-->
<!--                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i-->
<!--                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>-->
<!--                <a class="text-light" href="https://twitter.com/" target="_blank"><i-->
<!--                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>-->
<!--                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i-->
<!--                        class="fab fa-linkedin fa-sm fa-fw"></i></a>-->
<!--            </div>-->
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <!--        <a class="navbar-brand text-success logo h1 align-self-center" href="home.html">-->
        <!--            Zay-->
        <!--        </a>-->
        <div>
            <a class="navbar-brand" href="#">
                <img th:src="@{~/assets/img/logo.jpg}" alt="" width="80" height="80" class="d-inline-block align-text-center" src="">

            </a>
        </div>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <img th:src="@{~/assets/img/home.gif}" alt="" width="50" height="50" class="d-inline-block align-text-center" src="">
                            <b>Главная</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pharmacy-chain">
                            <img th:src="@{~/assets/img/pharmacy.gif}" alt="" width="50" height="50" class="d-inline-block align-text-center" src="">
                            <b>Аптечные сети</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pharm">
                            <img th:src="@{~/assets/img/pharm.gif}" alt="" width="50" height="50" class="d-inline-block align-text-center" src="">
                            <b>Аптеки</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">
                            <img th:src="@{~/assets/img/tablet.gif}" alt="" width="50" height="50" class="d-inline-block align-text-center" src="">
                            <b>Каталог товаров</b></a>
                    </li>

                </ul>
            </div>
        </div>
<!--        <div class="col-md-2 text-end">-->
<!--            <button type="button" class="btn btn-outline-primary"><a href="/logout"/>LogOut</button>-->
<!--        </div>-->
    </div>
</nav>